<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="true">

	<description>Quartz的本地Cron式执行任务配置</description>
	
	<!-- Quartz本地Schduler -->
	<bean id="localQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- Triggers集成 -->
		<property name="triggers">
			<list>
                <ref bean="mobilePushMsgTrigger" />
				<ref bean="receiveEmailTrigger" />
				<ref bean="receiveSinaTrigger" />
				<ref bean="allocateTrigger" />
			</list>
		</property>
		
		<!-- 启动时延期60秒开始任务 -->
		<property name="startupDelay" value="60" />

		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">15</prop>
			</props>
		</property>
	</bean>
	
	<!-- 客服日报 -->
	<bean id="kFDailyTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="kFDailyDetail" />
        <!-- 每天23点整执行 -->
        <property name="cronExpression" value="0 0 23 * * ?" />
	</bean>
	<bean id="kFDailyDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="kFDailyJob" />
		<property name="targetMethod" value="init" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 收邮件-->
	<bean id="receiveEmailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="receiveEmailDetail" />
		<property name="cronExpression" value="7 0/10 * * * ?" />
	</bean>
	<bean id="receiveEmailDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="mailReceiveJob" />
		<property name="targetMethod" value="init" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- sinaWeibo-->
	<bean id="receiveSinaTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="receiveSinaDetail" />
		<property name="cronExpression" value="31 0/1 * * * ?" />
	</bean>
	<bean id="receiveSinaDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="sinaReceiveJob" />
		<property name="targetMethod" value="init" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- SMS-->
	<bean id="receiveSmsTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="smsReceiveDetail" />
		<property name="cronExpression" value="7 0/1 * * * ?" />
	</bean>
	<bean id="smsReceiveDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="smsReceiveJob" />
		<property name="targetMethod" value="init" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- Allocate-->
	<bean id="allocateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="allocateDetail" />
		<property name="cronExpression" value="0/2 * * * * ?" />
	</bean>
	<bean id="allocateDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="allocateJob" />
		<property name="targetMethod" value="init" />
		<property name="concurrent" value="false" />
	</bean>

    <!-- 极光推送 -->
    <bean id="mobilePushMsgTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mobilePushMsgDetail" />
        <!-- 每5秒执行一次 -->
        <property name="cronExpression" value="0/5 * * * * ?" />
    </bean>
    <bean id="mobilePushMsgDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mobilePushMsgJob" />
        <property name="targetMethod" value="init" />
        <property name="concurrent" value="false" />
    </bean>

</beans>
